//Larger than 1461px
@media screen and (min-width: 1461px) {
  .article-item {
    max-width: none;

    img {
      width: 100%;
    }
  }

  .featured-articles {

    .large {

      img {
        min-height: none;
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .featured-articles {

    .large {

      img {
        min-height: 100%;
        max-width: 100vw;
        min-width: 100%;
      }
    }

    .small {
      max-width: 100%!important;
      padding-left: 5px!important;
      height: 150px;

      a {
        padding-top: 0!important;
      }

      &:last-of-type a {
        padding-top: 5px!important;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .featured-articles {
    .row {
      .small {
        max-height: 500px;

        a {
          padding-top: 5px;
        }
      }
    }
  }
}

//Larger than 768px
@media screen and (min-width: 768px) {

  .cat-bar.affix {
    background-color: $color__black;

    ul{
      padding-left: 20px;
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;

      & > li {
        display: inline-block;
        position: relative;

        a {
          color: rgba(255,255,255,0.8);
          text-transform: uppercase;
          font-weight: 600;
          padding: 20px;
          display: inline-block;
          @include transition;
        }

        ul {

          & > li {

            a {
              font-weight: 400;
              text-transform: none;
              padding: 10px 0;
            }
          }
        }

        &:hover {
          a {
            color: rgba(0,0,0,0.8);
          }
        }

        &:hover > ul {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .featured-articles {
    .row {
      .small {
        height: 500px;
        a {
          min-height: 100%;

          img {
            min-height: 100%;
          }
        }
      }
    }
  }

  .other-articles {
    .article-item {
      max-width: none;
    }
  }
}

//Smaller than 767px
@media screen and (max-width: 767px) {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.4em;
  }


  //Header
  #reading-list {
    width: 100%;
    &.close {
      margin-right: calc(-100vw - 20px);
    }
  }

  .top-bar {
    display: none;
  }

  header#main-header {
    margin-top: 0!important;

    .logo-bar {
      padding: 20px 0;

      a {
        max-width: 200px;
      }
    }

    .title-bar {

      #back {
        padding-top: 10px;
        margin: 0;
        font-size: 18px;

        .hidden-xs {
          display: none;
        }
      }

      a {
        color: $color__white;
        cursor: pointer;
      }

      .mobile-icons {
        ul {
          padding-top: 10px;

          li:not(:last-child) {
            margin-right: 10px;
          }

          li {

            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .cat-bar {
    &.affix {
     position: static;
     width: auto;
     top: 0;
    }
  }

  .featured-articles {

    .section-title {
      margin-top: 10px;
    }

    .row {

      & > div[class^="col-"] {
        a {
          .meta-overlay {
            h2 {
              font-size: 16px!important;
            }
          }
        }
      }

      .large {
        .meta-title {
          width: 75%;
        }
      }

      .small {
        max-height: 500px!important;

        img {
          height: auto;
          width: auto;
          max-width: 100%;
        }
      }
    }

    .meta-date {
      font-size: 12px!important;
    }
  }

  .cat-bar {

    #filter-btn {
      display: inline-block;
      width: auto;
    }

    & > * {
      float: none!important;
      width: 100%;
    }

    &.mobile-bar {
      #filter-btn {
        display: inline-block;
        width: auto;
      }
    }

    .search-form {

      label {
        width: 100%;
      }

      .search-field {
        margin: 0;
        margin-top: 15px;
      }
    }
  }

  .article-item {
    height: auto;

    .article-title {
      a {
        font-size: 16px;
      }
    }
  }

  .linked-article {

    .main-intro-content {

      .post-meta {

        .meta-tags {
          margin-left: 0;
          margin-top: 20px;
        }
      }

      .article-options {

        a, button {
          width: 49%;
          float: left;
          font-size: 14px!important;
          padding: 15px 5px;
        }

        & > *:last-child {
          margin-left: 2%;
        }
      }
    }

    .small {
      a {
        max-height: 385px;
      }
    }
  }

  //Login Page
  .site-form {
    form {
      label,
      input:not([type="submit"]) {
        float: none;
        width: 100%;
      }
      label {
        text-align: center;
        padding-right: 0;
      }
    }
  }

}

//Smaller than 480px
@media screen and (max-width: 480px) {
  .featured-articles {
    .row {
      & > div[class^="col-"] {
        a {
          .meta-overlay {
            .meta-title {
              top: 10%;
              transform: none;
            }
          }
        }
      }
    }
  }
}
