@mixin transition {
  transition: all 0.3s ease-out;
}
@mixin button {
  background-color: transparent;
  box-shadow: none;
  padding: 10px 15px;
  border: none;
  border-radius: 0;
  @include transition;
  text-shadow: none;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #fff;
    border: none;
    box-shadow: none;
  }
}
@mixin multi-line($font-size, $line-height, $lines-to-show) {
  display: block;
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
