.featured-articles {

  .row {
    height: 100%;

    div[class^="col-"] {
      padding: 0;
      position: relative;
      overflow: hidden;

      img {
        @include transition;
        filter: brightness(0.5);
      }

      a {
        display: block;

        .meta-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          color: $color__black;

          .meta-title {
            font-weight: 700;
            position: relative;
            color: $color__white;
            top: 50%;
            transform: translateY( calc(-50% - 42px) );
            margin-left: 20px;
            margin-right: 50px;
            font-size: 20px;
          }

          .meta-date {
            position: absolute;
            bottom: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: $color__lightGray;
            padding: 12px;
          }
        }

        &:hover img {
          filter: brightness(0.8);
        }
      }
    }

    .large {
      max-height: 500px;

      img {
        object-fit: cover;
      }

      .meta-title {
        width: 50%;
      }
    }

    .small {
      max-height: 250px;
    }
  }
}

.other-articles {
  position: relative;
  padding-bottom: 0;
  text-align: left;
}

#intro-article {
  display: none;
}

.linked-article {
  background-color: $color__white;

  .img-container {
    overflow: hidden;
  }

  .img-container img {
    transform: scale(1.5);
    width: auto;
  }

  .large {
    padding-left: 0;
    min-height: 500px;
    background-size: cover!important;
  }

  .small {
    a {
      position: relative;
      display: block;
      overflow: hidden;
      max-height: 180px;

      &:not(:last-child) .article-title {
        margin-bottom: 15px;
      }

      img {
        filter: brightness(0.8);
        @include transition;
      }

      .meta-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $color__lightGray;
        padding: 12px;
        color: $color__black;
      }

      &:hover img {
        filter: brightness(1);
      }
    }
    .article-title {
      font-weight: 700;
      margin-top: 10px;
      @include multi-line(18px, 1.2, 1);
    }

    &.article-thumb {
      .section-title {
        margin-top: 10px;
      }
    }
  }

  .main-intro-content {

    .post-meta {
      margin-bottom: 20px;

      & > div {
        display: inline-block;
      }

      .meta-tags {
        margin-left: 10px;

        ul {

          li {
            padding: 5px 10px;
            display: inline-block;
            background-color: $color__lightGray;
            color: $color__black;

            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .article-excerpt {

      p {

        &:first-child {
          font-weight: bold;
        }
      }
    }

    .article-options {
      margin-bottom: 20px;

      button,
      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  .author-meta {

    .author-foreword {
      font-size: 18px;

      p {

      }


    }

    .author-info {

      h3 {
        margin: 0;
      }

      img {
        min-width: 100%;
      }

      .author-name {
        font-weight: 600;
        margin-bottom: 5px;
      }

      .author-title {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
        color: $color__gray;
      }

      a {
        color: $color__darkBlue;
        text-decoration: underline;
      }
    }

  }
}

.load-more {
  opacity: 0.4;
  font-style: italic;
  margin-bottom: 40px;
  display: inline-block;
}
