//Brand Color
$color__darkBlue: #00263e;

//Highlight Colors
$color__lightOrange: #ffb81c;
$color__orange: #e87722;
$color__red: #c8102e;

//Supperting Colors
$color__lightGray: #f3f3f3;
$color__gray: #898d8d;
$color__darkGray: #54585a;
$color__blue: #004b87;

//Monochrome
$color__black: #231F20;
$color__white: #FFFFFF;
